

/* Remove default padding/margin of mat-tree */
.mat-tree {
  padding: 0;
  margin: 0;
}

.mat-tree-node {
  padding: 0 !important;
  margin: 0 !important;
}

/* Ensure vertical connector lines are visible */
.mat-tree-node .absolute {
  pointer-events: none;
}

/* Optional: Adjust spacing for nested items */
.mat-tree-node[role="treeitem"] {
  position: relative;
}

/* Fix for horizontal connector alignment */
.mat-tree-node .absolute.left-0 {
  top: 50%;
  transform: translateY(-50%);
}

/* Style for Node menu  */


/* ---------- Parent Node ---------- */
.tree-parent {
  position: relative;
  padding-top: 10px;
}
.mat-tree,
.mat-nested-tree-node,
.mat-tree-node {
  background-color: transparent !important;
}
.parent-wrapping{
   padding-top: 10px;
}

.parent-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
  border-radius: 6px;
  cursor: pointer;
}

/* ---------- CHILDREN CONTAINER ---------- */
.children-container {
  margin-left: 15px; /* indent children */
  position: relative;
  padding-left: 12px;
}

/* Vertical line for children */
.children-container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;      
  bottom: 18px; 
  width: 1px;
  background: #b5b5b5;
  opacity: 0.8;
}
/* Remove vertical line for last child */
.children-container > .tree-leaf:last-child .leaf-connector::after {
  display: none;
}
/* leaf-like parent behaves like normal child */
.leaf-like-parent {
  padding-top: 0 !important;
}

/* parent row looking like leaf */


/* horizontal line for parent-with-children */
.parent-leaf-connector {
  left: -12px;
  width: 12px;
  height: 1px;
  background: #b5b5b5;
}



/* ---------- LEAF NODES ---------- */
.tree-leaf {
  position: relative;
  padding: 6px 0;
  display: flex;
  align-items: center;
}

/* Horizontal line connector */
.leaf-connector {
  position: absolute;
  left: -12px;
  width: 12px;
  height: 1px;
  background: #c25353;
}

/* Leaf text link */
.leaf-text {
  padding: 4px 6px;
  font-size: 14px;
  text-decoration: none;
  color: #333;
}

.leaf-text:hover {
  color: #1976d2;
}

/* Active link */
.active-leaf {
  color: #1976d2 !important;
  font-weight: 600;
}


.animate-expand {
  overflow: hidden;
  animation: accordion-open 650ms ease;
}

@keyframes accordion-open {
  0% {
    opacity: 0;
    max-height: 0;
  }
  100% {
    opacity: 1;
    max-height: 600px;
  }
}
/* Disable text selection for entire tree */
.mat-tree,
.tree-parent,
.tree-leaf,
.leaf-text,
.parent-row {
  user-select: none;
  -webkit-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none;
}


:host {
  transition: width 0.15s ease;
}