/*
mat-header-row {
  background-color: #064e3b !important;
  color: white;
}

mat-header-cell {
  font-size: 14px;
  text-align: center;
}

mat-cell {
  font-size: 13px;
  text-align: left;
}

::ng-deep mat-header-cell,
::ng-deep mat-cell {
  text-align: center;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}*/


/* Professional table styling */
.mat-mdc-table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 8px;
  overflow: auto;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

mat-header-cell {
  font-size: 14px;
  text-align: center;
}

/* Header with gradient */
.mat-mdc-header-row {
  background: linear-gradient( rgb(94, 91, 255));   
  font-weight: 400;   
}

/* Alternating rows with subtle colors */
.mat-mdc-row:nth-child(even) {
  background-color: #e2ebfd;
}

.mat-mdc-row:nth-child(odd) {
  background-color: #ffffff;
}

/* Border between rows */
/* .mat-mdc-row {
  border-bottom: 1px solid #e0e0e0;
} */

/* Remove border from last row */
/* .mat-mdc-row:last-child {
  border-bottom: none;
} */

/* Hover effect */
.mat-mdc-row:hover {
  background-color: #e3f2fd !important;
  transition: background-color 0.2s ease;
}


/* Remove right border from last cell */
/* .mat-mdc-cell:last-child, .mat-mdc-header-cell:last-child {
  border-right: none;
} */
