/*
mat-header-row {
  background-color: #064e3b !important;
  color: white;
}

mat-header-cell {
  font-size: 14px;
  text-align: center;
}

mat-cell {
  font-size: 13px;
  text-align: left;
}

::ng-deep mat-header-cell,
::ng-deep mat-cell {
  text-align: center;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}*/


/* Professional table styling */
/* wrapper that controls body scroll */
.table-scroll {
  max-height: 356px;      /* 5 rows + header */
  overflow-y: auto;
  border-radius: 8px;
}

/* table base */
.mat-mdc-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

/* sticky header (professional feel) */
.mat-mdc-header-row {
  position: sticky;
  top: 0;
  z-index: 10;
  background:  #464e55;
  font-weight: 400;
   color: #ffffff !important; 
}

/* row zebra + hover */
.mat-mdc-row:nth-child(even) { background-color: #ffffff;cursor: pointer; }
.mat-mdc-row:nth-child(odd)  { background-color: #ffffff; cursor: pointer; }

.mat-mdc-row:hover {
  background-color: #e3f2fd !important;
  transition: background-color 0.2s ease;
  
}
.mat-mdc-row{
  font-size: 11.5px;
  
}

mat-header-cell {
  font-size: 12px;
  text-align: center;
  color:#ffffff !important;
}
