/* ===== FORCE COMPACT TABLE ROWS ===== */

/* Header row height */
.mat-mdc-header-row {
  height: 44px !important;
  min-height: 40px !important;
}

/* Data row height */
.mat-mdc-row {
  height: 36px !important;
  min-height: 36px !important;
}

/* Header cell padding */
.mat-mdc-header-cell {
  padding: 2px 6px !important;
  font-size: 13px;
  line-height: 1.2;
}

/* Data cell padding */
.mat-mdc-cell {
  padding: 2px 6px !important;
  font-size: 11px;
  line-height: 1.2;
}
