<!-- <div class="main-content">
            <div class="header">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <div>
                        <h1>Trade Finance Dashboard</h1>
                        <p>Real-time monitoring and analytics</p>
                    </div>
                    <button class="refresh-btn" onclick="refreshData()">🔄 Refresh</button>
                </div>
            </div>
            
</div> -->
<!-- 

bg-gradient-to-br from-indigo-500 via-purple-500 to-purple-600


-->

<div class="  p-6">
    <div class="max-w-6xl mx-auto ">
        <div class="flex flex-row ">
            <mat-form-field  appearance="fill">
                <mat-label >Financial Year</mat-label>
                <mat-select [(value)]="selectedYear" (selectionChange)="onYearChange()">
                    <mat-option *ngFor="let year of years" [value]="year">
                        {{ year }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-4 gap-3">
            <!-- Total Trade Volume Card -->
            <mat-card
                class="bg-emerald-900! backdrop-blur-sm border-0 shadow-lg hover:shadow-xl transition-all duration-300 hover:-translate-y-1 rounded-2xl overflow-hidden ">
                <mat-card-content class="p-6">
                    <div class="text-2xl font-bold text-white mb-2 ">&#x09F3; {{ totalLcAmount }}</div>
                    <div class="text-gray-100 text-xs font-medium mb-3">Total Trade Volume</div>
                    <div class="w-53! bg-amber-50! h-px! mb-1"></div>
                    <div class="flex flex-row  justify-center">
                        
                        <div
                            class="inline-flex items-center px-3 py-2 text-1xl  font-medium  text-white">
                            <button mat-button (click)="openDialog()" class="cursor-pointer">View Details</button>
                        </div>
                    </div>

                </mat-card-content>
            </mat-card>
            <!-- Os Liability Card -->
            <mat-card
                class="bg-emerald-900! backdrop-blur-sm border-0 shadow-lg hover:shadow-xl transition-all duration-300 hover:-translate-y-1 rounded-2xl overflow-hidden">
                <mat-card-content class="p-6">
                    <div class="text-2xl font-bold text-white mb-2">&#x09F3; {{totalLcOsAmount }}</div>
                    <div class="text-gray-100 text-xs font-medium mb-3">Total O/S Liability on Import Lc</div>
                    <div class="w-53! bg-amber-50! h-px! mb-1"></div>
                    <div class="flex flex-row  justify-center">
                        
                        <div
                            class="inline-flex items-center px-3 py-2 text-1xl  font-medium  text-white">
                            <button mat-button  class="cursor-pointer">View Details</button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <!-- Active Transactions Card -->
            <mat-card
                class="bg-emerald-900! backdrop-blur-sm border-0 shadow-lg hover:shadow-xl transition-all duration-300 hover:-translate-y-1 rounded-2xl overflow-hidden">
                <mat-card-content class="p-6">
                    <div class="text-2xl font-bold text-white mb-2">&#x09F3; {{totalLcPayAmount }}</div>
                    <div class="text-gray-100 text-xs font-medium mb-3">Total Payment Amount</div>
                    <div class="w-53! bg-amber-50! h-px! mb-1"></div>
                    <div class="flex flex-row  justify-center">
                        
                        <div
                            class="inline-flex items-center px-3 py-2 text-1xl  font-medium  text-white">
                            <button mat-button  class="cursor-pointer">View Details</button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

                   <!-- Active Transactions Card -->
            <mat-card
                class="bg-emerald-900! backdrop-blur-sm border-0 shadow-lg hover:shadow-xl transition-all duration-300 hover:-translate-y-1 rounded-2xl overflow-hidden">
                <mat-card-content class="p-6">
                    <div class="text-2xl font-bold text-white mb-2">&#x09F3; {{total_ImportOsAmount}}</div>
                    <div class="text-gray-100 text-xs font-medium mb-3">Total Pad O/S on Import Payment</div>
                   <div class="w-53! bg-amber-50! h-px! mb-1"></div>
                    <div class="flex flex-row  justify-center">
                        
                        <div
                            class="inline-flex items-center px-3 py-2 text-1xl  font-medium  text-white">
                            <button mat-button  class="cursor-pointer">View Details</button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

                    <!-- Active Transactions Card -->
            <mat-card
                class="bg-emerald-900! backdrop-blur-sm border-0 shadow-lg hover:shadow-xl transition-all duration-300 hover:-translate-y-1 rounded-2xl overflow-hidden">
                <mat-card-content class="p-6">
                    <div class="text-2xl font-bold text-white mb-2">&#x09F3; {{total_ImportAccChgAmount}}</div>
                    <div class="text-gray-100 text-xs font-medium mb-3">Total Acceptence Charge Amount</div>
                   <div class="w-53! bg-amber-50! h-px! mb-1"></div>
                    <div class="flex flex-row  justify-center">
                        
                        <div
                            class="inline-flex items-center px-3 py-2 text-1xl  font-medium  text-white">
                            <button mat-button  class="cursor-pointer">View Details</button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <!-- Active Transactions Card -->
            <mat-card
                class="bg-emerald-900! backdrop-blur-sm border-0 shadow-lg hover:shadow-xl transition-all duration-300 hover:-translate-y-1 rounded-2xl overflow-hidden">
                <mat-card-content class="p-6">
                    <div class="text-2xl font-bold text-white mb-2">&#x09F3; {{totalLcCommAmount }}</div>
                    <div class="text-gray-100 text-xs font-medium mb-3">Total Trade Commission</div>
                    <div
                        class="inline-flex items-center px-3 py-1 rounded-full text-sm font-semibold bg-green-100 text-green-700">
                        +8.3% vs Last year
                    </div>
                </mat-card-content>
            </mat-card>

            <!-- Active Transactions Card -->
            <mat-card
                class="bg-emerald-900! backdrop-blur-sm border-0 shadow-lg hover:shadow-xl transition-all duration-300 hover:-translate-y-1 rounded-2xl overflow-hidden">
                <mat-card-content class="p-6">
                    <div class="text-2xl font-bold text-white mb-2">&#x09F3; {{totalLcSwftAmount}}</div>
                    <div class="text-gray-100 text-xs font-medium mb-3">Total Swift Charge</div>
                    <div
                        class="inline-flex items-center px-3 py-1 rounded-full text-sm font-semibold bg-green-100 text-green-700">
                        +8.3% vs Last year
                    </div>
                </mat-card-content>
            </mat-card>
            
            <!-- Active Transactions Card -->
            <mat-card
                class="bg-emerald-900! backdrop-blur-sm border-0 shadow-lg hover:shadow-xl transition-all duration-300 hover:-translate-y-1 rounded-2xl overflow-hidden">
                <mat-card-content class="p-6">
                    <div class="text-2xl font-bold text-white mb-2">&#x09F3; {{totalLcPayChgAmount}}</div>
                    <div class="text-gray-100 text-xs font-medium mb-3">Total Charges on Import Payment</div>
                    <div
                        class="inline-flex items-center px-3 py-1 rounded-full text-sm font-semibold bg-green-100 text-green-700">
                        +8.3% vs Last year
                    </div>
                </mat-card-content>
            </mat-card>

             

            <!-- Pending L/Cs Card -->
            <mat-card
                class="bg-emerald-900! backdrop-blur-sm border-0 shadow-lg hover:shadow-xl transition-all duration-300 hover:-translate-y-1 rounded-2xl overflow-hidden">
                <mat-card-content class="p-6">
                    <div class="text-2xl font-bold text-white mb-2">{{totalPendingLc}}</div>
                    <div class="text-gray-100 text-xs font-medium mb-3">Pending L/Cs</div>
                    <div
                        class="inline-flex items-center px-3 py-1 rounded-full text-sm font-semibold bg-red-100 text-red-700">
                        -5.2% vs Last year
                    </div>
                </mat-card-content>
            </mat-card>

            <!-- Average Risk Score Card -->
            <!-- <mat-card
                class="bg-emerald-900! backdrop-blur-sm border-0 shadow-lg hover:shadow-xl transition-all duration-300 hover:-translate-y-1 rounded-2xl overflow-hidden">
                <mat-card-content class="p-6">
                    <div class="text-2xl font-bold text-white mb-2">7.2</div>
                    <div class="text-gray-100 text-xs font-medium mb-3">Average Risk Score</div>
                    <div
                        class="inline-flex items-center px-3 py-1 rounded-full text-sm font-semibold bg-green-100 text-green-700">
                        -0.8 vs last week
                    </div>
                </mat-card-content>
            </mat-card> -->
        </div>
    </div>
    
</div>
<div class="w-197! ml-3! bg-gray-400! h-px! mb-1"></div>
<app-dashboard-tran-history [selectedYear]="selectedYear"></app-dashboard-tran-history>

