<mat-toolbar class="bg-emerald-900!">
  <button mat-icon-button 
        class=" bg-white! rounded-sm text-emerald-900! pl-2 pr-2 hover:text-emerald-900! transition cursor-pointer"
        (click)="sideBarToggleButton()">
  <mat-icon class="mt-1.5 text-white">menu</mat-icon>
</button>
  <span class="ml-2! text-white!"> Sonali Intellect Ltd. </span>
  <span class="example-spacer"></span>
  <button matIconButton class="example-icon favorite-icon" [matMenuTriggerFor]="menu" >
    <mat-icon class="text-white!">people</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
  <button mat-menu-item>Setting</button>
  <button mat-menu-item>Logout</button>
</mat-menu>
</mat-toolbar>
