<mat-toolbar class="bg-[#f2fbff] border-0 shadow-none custom-toolbar">
  <button mat-icon-button 
        class=" bg-emerald-800! rounded-sm text-white! pl-2 pr-2 hover:text-white! transition cursor-pointer"
        (click)="sideBarToggleButton()">
    <mat-icon class="mt-1.5 text-white">menu</mat-icon>
  </button>

  <!-- ✅ Company Logo -->
  <span class="!ml-2">
    <img src="assets/logo-spftl.jpg" alt="Company logo" class="h-8 w-auto inline-block" />
  </span>

  <span class="example-spacer"></span>

  <button matIconButton class="example-icon favorite-icon" [matMenuTriggerFor]="menu">
    <mat-icon class="text-black!">people</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>Setting</button>
    <button mat-menu-item>Logout</button>
  </mat-menu>
</mat-toolbar>

