
<app-header (sideBarToggle)="drawer.toggle()"></app-header>
<mat-drawer-container autosize class="!border-t-0 !shadow-none">
    
<mat-drawer #drawer mode="side" [opened]="isSidebarOpen" class="w-78!">
     <app-sidebar-nav  [isSidebarOpen]="isSidebarOpen" ></app-sidebar-nav>
</mat-drawer>

    <mat-drawer-content >
        <app-tab-bar ></app-tab-bar>  <!--rgb(233, 247, 238)-->
        <div class="flex-1 overflow-y-auto h-[calc(100vh)] " style="background-color: rgb(247, 249, 250);" >
            
            <router-outlet></router-outlet>

        </div>

    </mat-drawer-content>

</mat-drawer-container>

<!-- bg-indigo-50 -->