<div class="bg-white flex items-center justify-center" >
    <div class="text-center p-10 max-w-4xl">
        <!-- Logo Placeholder -->
        <div class="mb-6">
            <div class="w-20 h-20 mx-auto bg-gradient-to-r from-blue-600 to-blue-800 rounded-full flex items-center justify-center text-white text-3xl font-bold">TF</div>
        </div>

        <!-- Title -->
        <h1 class="text-3xl md:text-3xl text-gray-800 mb-4">Welcome to <span class="text-blue-800 text-5xl!">Trade Finance Monitoring & Risk Analysis System</span></h1>

        <!-- Subtitle -->
        <p class="text-gray-600 mb-8">A platform for monitoring trade finance activities, analyzing risks, and tracking issues effectively.</p>

        <!-- Buttons -->
        <!-- <div class="flex justify-center gap-4">
      <a href="/login" class="px-6 py-3 bg-indigo-600 text-white rounded-xl shadow hover:bg-indigo-700 transition">
        Login
      </a>
      <a href="/register" class="px-6 py-3 bg-gray-200 text-gray-700 rounded-xl shadow hover:bg-gray-300 transition">
        Register
      </a>
    </div> -->
    </div>
</div>
<footer class="relative z-10 px-6 py-6 border-t border-white/10 mt-32">
  <div class="max-w-7xl mx-auto flex flex-col md:flex-row items-center justify-between">
    
    <p class="text-gray-400 text-sm">
      © 2025 Team TF, Sonali Intellect Limited. All rights reserved.
    </p>

    <p class="text-gray-400 text-sm mt-1!">
      V-1.1
    </p>

  </div>
</footer>
