<div class="flex flex-col items-center justify-center   pb-5! pt-3!">
        <h5 class=" font-bold mb-1! text-blue-800!">AD Branch Monitoring</h5>
    </div>
<div class=" bg-gray-600! h-px! mb-1"></div>


     

<div class="p-6">
    
    
    <div class="max-w-6xl mx-auto mt-5! ">

        <div class="grid grid-cols-1 md:grid-cols-4 gap-3"> 
            <!-- Total AD Branch List -->
           
            

            <app-dashboard-card
                            [value]="branchSummaryData.totalBrn"
                            label="Active Branches"
                            [cardFixedColor]="true"
                            [cardWhiteColor]="false"
                            cardBackgroundColor="bg-lime-100!"
                            valueColor="text-lime-800!"
                        >
                        </app-dashboard-card>

             <!-- Total Sign In Branch List -->
            


            <app-dashboard-card
                            [value]="branchSummaryData.totalSnInBrn"
                            label="Signed-In Branches"
                            [cardFixedColor]="true"
                            [cardWhiteColor]="false"
                            cardBackgroundColor="bg-blue-100!"
                            valueColor="text-blue-800!"
                        >
                        </app-dashboard-card>

            <app-dashboard-card
                            [value]="branchSummaryData.totalSnInBrn"
                            label="Pending Sign-In"
                            [cardFixedColor]="true"
                            [cardWhiteColor]="false"
                            cardBackgroundColor="bg-red-100!"
                            valueColor="text-red-800!"
                        >
                        </app-dashboard-card>

             <!-- Total Sign out Branch List -->
            

            <app-dashboard-card
                            [value]="branchSummaryData.totalSnOutBrn"
                            label="Signed-Out Branches"
                            [cardFixedColor]="true"
                            [cardWhiteColor]="false"
                            cardBackgroundColor="bg-purple-100!"
                            valueColor="text-purple-800!"
                        >
                        </app-dashboard-card>
                <app-dashboard-card
                                [value]="branchSummaryData.totalSnOutBrn"
                                label="Pending Sign-Out"
                                [cardFixedColor]="true"
                                [cardWhiteColor]="false"
                                cardBackgroundColor="bg-red-100!"
                                valueColor="text-red-800!">
               </app-dashboard-card>

        </div>
     </div>
</div>

<div class="w-297! ml-3! bg-gray-400! h-px! mt-5! mb-5!"></div>

<div class="p-6  ml-7 mb-20! bg-white border border-gray-200 rounded-lg shadow-sm w-280 overflow-visible">
    <app-dynamic-material-table [columns]="[
    { key: 'rn', label: 'RN'},
    { key: 'brnCode', label: 'Branch Code' },
    { key: 'brnName', label: 'Branch Name' },
    { key: 'currentDate', label: 'Business Date' },
    { key: 'brnSignIn', label: 'Sign In' },
    { key: 'brnSignOut', label: 'Sign Out' },
    
  ]" [data]="branchSummary" (onPage)="onPageChangeHandler($event)" [totalItems]="totalItems" [pageSize]="pageSize"  [currentPage]="currentPage"
  />
</div>

